# Lab 4 Tasks

Download the data file *election2020.tsv* from Brightspace, which contains statistics for a set of Irish politicians who were active on Twitter during the 2020 General Election. The format of the file is tab-separated with a header line.

Complete the steps below using the *Pandas* library.

Step 1. Load the dataset from the tab-separated file *election2020.tsv* using Pandas. Use the \"username\" column as the row index.

In [2]:
import pandas as pd
df = pd.read_csv("election2020.tsv", sep="\t", index_col="username" )
df

,lastname,firstname,party,constituency,followers,friends,tweets
username,,,,,,,
1garygannon,Gannon,Gary,Social Democrats,Dublin Central,11162,2457,18597.0
adoyletd,Doyle,Andrew,Fine Gael,Wicklow,7900,1147,4437.0
aengusomaolain,Ó Maolain,Aengus,Social Democrats,Dublin West,1927,916,7928.0
aislingd_cllr,Dolan,Aisling,Fine Gael,Roscommon Galway,235,489,172.0
alan_dillon,Dillon,Alan,Fine Gael,Mayo,13784,1774,1298.0
...,...,...,...,...,...,...,...
votetomneville,Neville,Tom,Fine Gael,Limerick County,1920,840,2075.0
walshthomasf,Walsh,Thomas,Fianna Fail,Sligo Leitrim,553,857,2801.0
wardy1916,Ward,Mark,Sinn Fein,Dublin Mid West,2107,563,1278.0
whitmorejen,Whitmore,Jennifer,Social Democrats,Wicklow,1887,1026,4435.0
willieodealive,O'Dea,Willie,Fianna Fail,Limerick City,6510,758,2127.0

Step 2. Calculate summary statistics for the dataset.

In [3]:
df.describe()

           followers      friends         tweets
count     273.000000   273.000000     257.000000
mean     6662.106227  1659.201465    6893.299611
std     17404.305170  1363.891189   11208.046080
min       143.000000    74.000000     105.000000
25%      1174.000000   684.000000    1353.000000
50%      2788.000000  1265.000000    3379.000000
75%      6107.000000  2159.000000    8322.000000
max    238593.000000  6801.000000  124896.000000

Step 3. Find the number of missing values in each column.

In [4]:
df.isnull().sum()

lastname         0
firstname        0
party            0
constituency     0
followers        0
friends          0
tweets          16
dtype: int64

Step 4. Replace all missing values in the "tweets" column with the mean value for that column.

In [6]:
mean_tweets = int(df["tweets"].mean())
df["tweets"] = df["tweets"].fillna(mean_tweets)
df.isnull().sum()

lastname        0
firstname       0
party           0
constituency    0
followers       0
friends         0
tweets          0
dtype: int64

Step 5. Group the rows in the dataset based on the "party" column, and display the aggregate total and mean values for the groups.

In [10]:
party_group = df.groupby("party")
print(party_group.sum())
print(party_group.mean())

                  followers  friends    tweets
party
Fianna Fail          338444   132656  507607.0
Fine Gael            890455   136051  548038.0
Green Party          116993    49519  202645.0
Labour               151826    47836  161765.0
Sinn Fein            247457    54890  350561.0
Social Democrats      73580    32010  111250.0
                     followers      friends       tweets
party
Fianna Fail        4395.376623  1722.805195  6592.298701
Fine Gael         12033.175676  1838.527027  7405.918919
Green Party        3078.763158  1303.131579  5332.763158
Labour             5839.461538  1839.846154  6221.730769
Sinn Fein          6512.026316  1444.473684  9225.289474
Social Democrats   3679.000000  1600.500000  5562.500000

Step 6. Group the rows in the dataset based on the "constituency" column, and display the aggregate total and mean values for the groups.

In [11]:
party_group = df.groupby("constituency")
print(party_group.sum())
print(party_group.mean())

                      followers  friends    tweets
constituency
Carlow Kilkenny           21783    12177   31371.0
Cavan Monaghan            39160    10193   46601.0
Clare                     24677    10766   27565.0
Cork East                 22599     9148   19866.0
Cork North Central        24716    22325  101213.0
Cork North West           14992     7435   23634.0
Cork South Central       170995    17747   72255.0
Cork South West           13785    11974   25029.0
Donegal                   63579     6177   29995.0
Dublin Bay North          82112     9822   31743.0
Dublin Bay South          85687    14931   51505.0
Dublin Central           129626    11582   59825.0
Dublin Fingal             39726    10391   70208.0
Dublin Mid West           39181    15974  134719.0
Dublin North West         31314     7819   55633.0
Dublin Rathdown           39640    13501   95477.0
Dublin South Central      27387    10935   37104.0
Dublin South West         20251    13508   27602.0
Dublin West              275354    10442   39737.0
Dun Laoghaire             69824    28105  109354.0
Galway East               19651    14779   70460.0
Galway West               27950    14277   37270.0
Kerry                     10659     4293   11406.0
Kildare North             43287    14622  167075.0
Kildare South             14085    10561   14783.0
Laois Offaly              41654     5803   32600.0
Limerick City             33626    11860   47248.0
Limerick County           16373     3171   12494.0
Longford Westmeath        13911     6082   23137.0
Louth                     25632    11990   45564.0
Mayo                      59225    14289   29253.0
Meath East                58820    14589   68882.0
Meath West                17391     7048   15522.0
Roscommon Galway           5130     2432   17240.0
Sligo Leitrim             21937    17541   45735.0
Tipperary                 20748    11945   21538.0
Waterford                 17982    13110   47812.0
Wexford                   22833    10766   36382.0
Wicklow                  111473     8852   47029.0
                         followers      friends        tweets
constituency
Carlow Kilkenny        2420.333333  1353.000000   3485.666667
Cavan Monaghan         4895.000000  1274.125000   5825.125000
Clare                  3084.625000  1345.750000   3445.625000
Cork East              3228.428571  1306.857143   2838.000000
Cork North Central     2746.222222  2480.555556  11245.888889
Cork North West        2998.400000  1487.000000   4726.800000
Cork South Central    21374.375000  2218.375000   9031.875000
Cork South West        1969.285714  1710.571429   3575.571429
Donegal               12715.800000  1235.400000   5999.000000
Dublin Bay North      10264.000000  1227.750000   3967.875000
Dublin Bay South      12241.000000  2133.000000   7357.857143
Dublin Central        18518.000000  1654.571429   8546.428571
Dublin Fingal          4965.750000  1298.875000   8776.000000
Dublin Mid West        4897.625000  1996.750000  16839.875000
Dublin North West      6262.800000  1563.800000  11126.600000
Dublin Rathdown        5662.857143  1928.714286  13639.571429
Dublin South Central   3912.428571  1562.142857   5300.571429
Dublin South West      2531.375000  1688.500000   3450.250000
Dublin West           39336.285714  1491.714286   5676.714286
Dun Laoghaire          7758.222222  3122.777778  12150.444444
Galway East            3930.200000  2955.800000  14092.000000
Galway West            3992.857143  2039.571429   5324.285714
Kerry                  2131.800000   858.600000   2281.200000
Kildare North          7214.500000  2437.000000  27845.833333
Kildare South          2347.500000  1760.166667   2463.833333
Laois Offaly           5950.571429   829.000000   4657.142857
Limerick City          4203.250000  1482.500000   5906.000000
Limerick County        4093.250000   792.750000   3123.500000
Longford Westmeath     1987.285714   868.857143   3305.285714
Louth                  3204.000000  1498.750000   5695.500000
Mayo                   8460.714286  2041.285714   4179.000000
Meath East             8402.857143  2084.142857   9840.285714
Meath West             2484.428571  1006.857143   2217.428571
Roscommon Galway       1026.000000   486.400000   3448.000000
Sligo Leitrim          2742.125000  2192.625000   5716.875000
Tipperary              2964.000000  1706.428571   3076.857143
Waterford              3596.400000  2622.000000   9562.400000
Wexford                2854.125000  1345.750000   4547.750000
Wicklow               12385.888889   983.555556   5225.444444